<div class="jumbotron text-center">
    <h1><img width="200" 
      height="150" src="../src/app/img/dragon.jpg" 
      class="img-circle" alt="Cinque Terre" 
      style="margin-bottom:0%;"
      style="margin-bottom:-2%;"><b>"Kumpulan Komik Manga"</b></h1>
      <!-- <h4 style="margin-bottom:-4%;">
        <a href="https://www.w3schools.com/angular/" 
        target="blank"
        style="margin-right:0%;">Kumpulan MangaKu.com</a></h4> -->
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Informasi Manga</h3>
        <p>Email Pengirim Manga: <span class="glyphicon glyphicon-envelope"></span></p> 
        <p>Dowload Manga: <span class="glyphicon glyphicon-download"></span></p> 
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3> 
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>
  </div>